{% extends "mainapp/templates/master_template.html" %}

{% block header %}
	<script type="text/javascript" src="{{root_url}}tweetreader/static_media/tweets.js" ></script>
{% endblock %}

{% block content %}
        {% include "mainapp/templates/reginfo.html" %}

<div class="addfilter">
	<h4>Add keywords</h4>
	Enter your keyword to add : <input type = "text" name ="newtag" id="newtag" /> &nbsp; &nbsp; <a href="#" id="addtag" >Add this</a>
</div>

<div class="filter">
	<h4>Filter keywords</h4>
	<div class="taglist">Default keywords :
	{% for tag in defaulttags %}
		<span class="box"><input type = "checkbox" value = "{{tag}}">{{tag}}</input> &nbsp;
		</span>
	{% endfor %} 
	<br/>
	<br/>
	<span class="userlevel">
	Custom keywords : 
	{% for tag in tags %}
		<span class= "box"><input type = "checkbox" value = "{{tag.tag}}">{{tag.tag}}</input> &nbsp;
		<a href="#" id="removetag">X</a>
		</span>
	{% endfor %}
	</span>
	</div>
</div>


<h4>Tweets from customers </h4>
{% if tweets.object_list %}

<div class="tweets">
<div class="pagination">
    <span class="step-links">
        {% if tweets.has_previous %}
            <a href="#" class="prev" >previous</a>
        {% endif %}

        <span class="current">
            Page <span id="pagenumber">{{ tweets.number }}</span> of {{ tweets.paginator.num_pages }}
        </span>

        {% if tweets.has_next %}
            <a href="#" class="next" >next</a>
        {% endif %}
    </span>
</div>
<br />
	{% for tweet in tweets.object_list %}
	<div class="tweetbox">
	<div class="leftsection">
	<img style="float: left; left: 15px; position: relative;" src="{{tweet.img}}" />
	<div style="float:left; clear: both; ">
		<a href="http://twitter.com/{{tweet.from_user}}">{{ tweet.from_user|title}}</a>
	</div> 
	</div>
	<div class="tweet">{{ tweet.tweet }}  <span style="font-size: 12px;">Tweeted at : {{ tweet.datetime }}</span> </div>
	</div>
	<br />
	<br />
	<br />
	{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if tweets.has_previous %}
            <a href="#" class="prev" >previous</a>
        {% endif %}

        <span class="current">
            Page <span id="pagenumber">{{ tweets.number }}</span> of {{ tweets.paginator.num_pages }}
        </span>

        {% if tweets.has_next %}
            <a href="#" class="next" >next</a>
        {% endif %}
    </span>
</div>
</div>
{% else %}
Sorry, no tweets matching your keywords.
{% endif %}

{% endblock %}
