{% extends "mainapp/templates/master_template.html" %}


{% block content %}
        {% include "mainapp/templates/reginfo.html" %}
<div class="bod">
<form action="{{root_url}}tweetreader/submit_login/" method="post">
	{% csrf_token %}
	<div class='login-box'>
		<center><h3>User Signin</h3></center>
		<div class='item'>Username : <input type="text" name="username" /></div>
		<span class="error">{{ form.usern.errors }}</span>
		<br />
		<div class='item'>Password : <input type="password" name="password" /></div>
		<span class="error">{{ form.passw.errors }}</span>
		<br />
		<center><input type="submit" value="Sign in" /></center>
                <span class="error">{{ form.mismatch }}</span>

	</div>
</form>

<form action="{{root_url}}tweetreader/signup/" method="post">
	{% csrf_token %}
	<div class='reg-box'>
		<center><h3>User Registration</h3></center>
		<div class='item'>Username : <input type="text" name="rusername" /></div>
		<span class="error">{{ rform.usern.errors }}</span>
		<br />
		<div class='item'>Password : <input type="password" name="rpassword" /></div>
		<span class="error">{{ rform.passw.errors }}</span>
		<br />
		<div class='item'>Email id &nbsp;&nbsp; : <input type="text" name="email" /></div>
		<span class="error">{{ rform.email.errors }}</span>
		<br />
		<center><input type="submit" value="Sign up" /></center>
                <span class="error">{{ rform.mismatch }}</span>

	</div>
</form>
</div>
{% endblock %}
