<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Twitter Feed Reader</title>
<link rel="stylesheet" type="text/css" href="{{root_url}}tweetreader/static_media/style.css" />
<script type="text/javascript" src="{{root_url}}tweetreader/static_media/jquery-1.7.1.min.js" ></script>
{% block header %}
{% endblock %}

</script>
</head>

<body>
<center><h1><a href="{{root_url}}tweetreader/" style="color : black; text-decoration: none; ">Twitter Feed Reader</a></h1></center>
<hr/>
{% block content %}
{% endblock %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class= "footer"><hr /><center><i>This project is developed by Vishnuvardan. All rights reserved.</i></center></div>
</body>
</html>
