
<div class="reg-info">
		{% if user.is_authenticated %} 
                        <div class="register ">Welcome {{ user.username|title }} | <a href="{{root_url}}tweetreader/show_tweets/">Start reading</a> | {% if user.is_staff %}<a href="{{root_url}}admin/">Admin</a> | {% endif %}<a href="{{root_url}}tweetreader/signout/">Sign out</a></div> 
                {% else %} 
                        <div class="register"><a href="{{root_url}}tweetreader/">Login</a> | <a href="{{root_url}}tweetreader/" >Register</a></div> 
                {% endif %} 
</div>
<br/>
<br/>
<br/>
