	{% if tweets.object_list %}

<div class="pagination">
    <span class="step-links">
        {% if tweets.has_previous %}
            <a href="#" class="prev" >previous</a>
        {% endif %}

        <span class="current">
            Page <span id="pagenumber">{{ tweets.number }}</span> of {{ tweets.paginator.num_pages }}
        </span>

        {% if tweets.has_next %}
            <a href="#" class="next" >next</a>
        {% endif %}
    </span>
</div>
<br/>
	{% for tweet in tweets.object_list %}
	<div class="tweetbox">
	<div class="leftsection">
	<img style="float: left; left: 15px; position: relative;" src="{{tweet.img}}" />
	<div style="float:left; clear: both; ">
		<a href="http://twitter.com/{{tweet.from_user}}">{{ tweet.from_user|title}}</a>
	</div> 
	</div>
	<div class="tweet">{{ tweet.tweet }}  <span style="font-size: 12px;">Tweeted at : {{ tweet.datetime }}</span> </div>
	</div>
	<br />
	<br />
	<br />
	{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if tweets.has_previous %}
            <a href="#" class="prev" >previous</a>
        {% endif %}

        <span class="current">
            Page <span id="pagenumber">{{ tweets.number }}</span> of {{ tweets.paginator.num_pages }}
        </span>

        {% if tweets.has_next %}
            <a href="#" class="next" >next</a>
        {% endif %}
    </span>
</div>
	{% else %}
		Sorry, no tweets matching your keywords.
	{% endif %}
