.login-box {
	width : 400px;
	float: left;
}

.reg-box {
	width : 400px;
	float: right;
}

.addfilter {
	border-style: solid;
	border-width: 1px;
	float: right;
	height: 100px;
	padding: 12px;
	width: 560px;
}

span.error {
	color: red;
	font-size : 14px;
}

.bod{
	width: 800px;
	left: 20%;
	position: relative;
}

.filter span.box {
	border-style: dashed;
	border-width:1px;
	padding : 5px 5px 5px 5px;
	margin-right: 30px;
}

.userlevel span.box {
	line-height: 3em;
}
.login-box .item {
	left: 5px;
}

.reg-info {
	float: right;
}

.tweet {
	position: relative;
	left: 20px;
}

.tweetbox {
	height: 40px;
}

.leftsection {
	width: 50px;
	height: 50px;
}

.pagination {
	float: right;
}
.footer {
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
}
